.flex-grid {
    display: flex;
  }
  .flex-grid-responsive {
    display: flex;
    flex-wrap: wrap;
  }
  @media (max-width: 500px) {
    .flex-grid-responsive {
      display: block;
    }
  }
  .col1 {
    flex: 1;
  }
  .col2 {
    flex: 2;
  }
  .col3 {
    flex: 3;
  }
  .col4 {
    flex: 4;
  }
  .col5 {
    flex: 5;
  }
  .col6 {
    flex: 6;
  }
  
  